body {
    margin: 0;
    height: 100vh;
    background: url('./image/layered-steps-haikei.svg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.sign-up
{
    border: 2px;
    width: 100%;
    height: 80vh;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    max-width: 300px;
    background: #010309;
    overflow: hidden;
    border-radius: 16px;
    color: #E0E4FB;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 1.6rem;
}

.subtitle {
    font-size: 1rem;
    color: #666;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #050A24;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #1D3CD7;
    font-size: .9rem;
    padding: 8px 15px;
    color: white;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #0D1A5E;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
    background-color: #1D3CD7;
}


.information
{
    border: 2px;
    width: 100%;
    height: 80vh;
    margin: 50px;
    font-family: 'Poppins', sans-serif;
    color: #E0E4FB;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information > h1
{
    font-size: 70px;
    color: white;
}

.information >p
{
    width: 80%;
    font-size: 13px;
}

.highlight
{
    background: linear-gradient(to right, #0D1A5E, #1D3CD7);
    -webkit-background-clip: text;
    color: transparent;
}

.connect
{
    color: #010309;
    -webkit-text-stroke: 2px #1D3CD7;
}

